@import 'bower_components/csstyle/csstyle.scss';

$green : rgba(163,174,134,.9);
$blue : rgba(51,59,66,.9);
$whitish : rgba(244,255,248,1);

img {
   display: block;
   max-width: 100%;
   height: auto;
 }

ul {
  list-style-type: none;
  font-size: 18px;
  font-weight: bold;
}

 @mixin flexbox() {
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
 }

 @mixin flex($values) {
   -webkit-box-flex: $values;
   -moz-box-flex:  $values;
   -webkit-flex:  $values;
   -ms-flex:  $values;
   flex:  $values;
 }

 @mixin order($val) {
   -webkit-box-ordinal-group: $val;
   -moz-box-ordinal-group: $val;
   -ms-flex-order: $val;
   -webkit-order: $val;
   order: $val;
 }

 .wrapper {
   @include flexbox();
   flex-wrap: wrap;
   flex-direction: row;
 }
 .wrapper1 {
   @include flexbox();
   flex-wrap: wrap;
   flex-direction: row;
 }

 .item {
   @include flex(1 20%);
   background: $blue;
   color: $whitish;
   height:200px;
   margin:10px;
   padding:25px;
   text-align: center;
 }

 .top-item {
   @include flex(1 50%);
   background: $green;
   color: $blue;
   margin:10px;
   padding:25px;
 }
